<h2 mat-dialog-title justify-content-center>Manage filters</h2>
<hr>
<mat-dialog-content>
    <form [formGroup]="mainForm">
        <div formGroupName="productInfo">
            <h3>By product info</h3>
            <mat-form-field class="fullWidth">
                <mat-label>Barecode</mat-label>
                <input matInput formControlName="barecode" placeholder="5901478006983">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Apple">
            </mat-form-field>
        </div>
        <div formGroupName="categoriesInfo">
            <h3>By categories</h3>
            <mat-form-field class="fullWidth">
                <mat-label>Select categories</mat-label>
                <mat-select multiple formControlName="selectedCategories">
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div formArrayName="ordersBy">
            <div class="row">
                <div class="col">
                    <h3>Order by</h3>
                </div>

                <div class="col">
                    <button type="button" mat-raised-button color="primary" [disabled]="!isOrdersValid()"  (click)="addOrderBy()">+</button>
                </div>
            </div>

            <div *ngFor="let orderBy of orderByForms.controls; let i=index" [formGroupName]="i" class="singleOrderContainer">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <mat-form-field class="sidesMargin">
                            <mat-label>Property</mat-label>
                            <mat-select formControlName="property">
                                <mat-option *ngFor="let property of properties" [value]="property">{{property.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-5">
                        <mat-form-field class="sidesMargin">
                            <mat-label>Way</mat-label>
                            <mat-select formControlName="order">
                                <mat-option *ngFor="let orderBy of orders" [value]="orderBy">{{orderBy}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-2 text-center">
                        <button type="button" mat-raised-button color="warn" (click)="deleteOrderBy(i)">-</button>
                    </div>
                </div>
            </div>
            <mat-error *ngIf="!isOrdersValid()">
                {{ordersError}}
            </mat-error>
        </div>

        <div class="row justify-content-center">
            <button type="button" mat-raised-button color="link" mat-dialog-close class="btnWithMargin">Cancel</button>
            <button type="button" mat-raised-button color="primary" (click)="applyFilters()" [disabled]="!mainForm.valid || !isOrdersValid()" class="btnWithMargin">Apply</button>
        </div>
    </form>
</mat-dialog-content>