.smallExpDateCard{
    margin: 0;
    padding: 0;
    width: 100%;
   }
   
   .smallExpDateCard img{
       width: 100%;
   }
   
   hr{
       margin: 0 auto;
       width: 90%;
   }

   img{
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}
   
   mat-card-header{
       justify-content:center;
       white-space: nowrap;
   }
   
   mat-card-content h5{
       padding: 1em;
       border-bottom-right-radius: 1em;
       border-bottom-left-radius: 1em;
   }
   
   mat-card{
       border-top-right-radius: 1em;
       border-top-left-radius: 1em;
       border-bottom-right-radius: 1em;
       border-bottom-left-radius: 1em;
       margin-bottom: 1em;
   }
   
   mat-card-header
   {
       font-size: larger;
   }